@import "variables";

.bg {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  div {
    height: 100%;
  }
}

.floating-box {
  background-color: $primary;
  box-shadow: 0 0 2rem black;
  position: relative;
  z-index: 1;
  padding: 0.9rem;
}

.inner-box {
  padding: 1rem;
  background-color: #eee;
  color: $secondary;
}

ul.contatti {
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: $phone-width) {
  #site-navbar {
    background-image: linear-gradient(to bottom, #fff, #fff0);
  }

  .floating-box {
    clear: both;
  }

  .main-text {
    width: 60%;
    float: left;
  }

  .contatti {
    width: 30%;
    float: right;
  }
}

@media screen and (max-width: $tablet-width) {
  .floating-box {
    margin: 2rem 0;
    padding: 0.5rem;
  }
}

@media screen and (max-width: $tablet-width) and (min-width: $phone-width) {
  .contatti {
    width: 60%;
    float: right;
  }

  .main-text {
    width: 70%;
    float: left;
  }
}
