@import "variables";

.inner-box {
  margin: 1rem;
  background-color: #eee;
  padding: 1rem;
  color: $secondary;
}

.bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.floating-box {
  background-color: $primary;
  position: relative;
  box-shadow: 0 0 2rem black;
  z-index: 1;
}

ul.contatti {
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: $phone-width) {
  #site-navbar {
    background-image: linear-gradient(to bottom, #fff, #fff0);
  }

  .floating-box {
    clear: both;
  }

  .main-text {
    width: 60%;
    float: left;
  }

  .contatti {
    width: 30%;
    float: right;
  }
}
