@import "variables";

#site-navbar {
  height: 8rem;
  z-index: 100;
  font-weight: 700;
  font-size: 1.5rem;
  align-items: center;
  padding: 0 6rem;
  transition: background-color 0.5s;
}

.logo {
  width: 18rem;
}

.navbar-light .navbar-nav .nav-link {
  color: $secondary;
  font-weight: 600;
  font-size: 1.4rem;
  white-space: nowrap;
  padding: 0 1rem;
  margin: auto;
  text-shadow: 0px 0px 6px #ffffff;

  .badge {
    text-shadow: none;
    padding: 1rem;
  }

  a,
  span {
    &:hover {
      color: $primary;
    }
  }
}

.dropdown-item {
  width: 20rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.dropdown-menu {
  display: block !important;
  padding: 0;
  border: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}

.dropdown-menu.show {
  max-height: 500px;
  border: 1px solid $secondary;
}

@media screen and (max-width: $tablet-width) {
  #site-navbar {
    padding: 0 1rem;
    height: 5rem;
  }

  .navbar-brand {
    margin: 0;
  }

  .logo {
    width: 10rem;
  }

  .nav-hamburger {
    margin: 20px 0;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
    background-color: $secondary;
    color: #fff;
    text-shadow: none;
  }

  .dropdown-menu {
    background-color: #555;
  }

  .dropdown-item {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
  }

  .dropdown-divider {
    border-top: 2px solid $secondary;
  }

  #contattaci-button {
    padding-bottom: 1rem;
  }
}
