@import "variables";
@import "~@fontsource/source-sans-pro/index.css";

.lines-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.35;
}

.office-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.home-intro {
  position: relative;
  font-family: "Source Sans Pro";
  z-index: 1;
  width: 50%;

  h1 {
    color: $primary;
    font-size: 6vw;
    font-weight: 900;
  }

  p {
    width: 70%;
    font-size: 1.4vw;
    font-weight: 600;
  }
}

.main-image-box {
  width: 100%;
  height: calc(0.35 * 100vw);
}

.ricoh-hero {
  .ricoh-logo {
    display: block;
    width: 10rem;
  }
}

.entries-wrapper {
  margin: 5rem 0;
}

.entries-header {
  margin: 0 -6rem;
  padding: 2rem;
  background-image: linear-gradient(to bottom, #d4d4d4, #fff0);
  border-top: 5px solid $primary;
  text-align: center;

  h1 {
    font-family: "Source Sans Pro";
    color: $primary;
    font-size: 4vw;
    font-weight: 900;
  }
}

.home-entry-wrapper {
  margin: 0 -6rem;
}

.home-entry {
  margin: 3rem 0;
  padding: 3rem 6rem;

  .entry-text {
    padding: 2rem 6rem 2rem 0;
    font-size: 1.2rem;

    h1 {
      border-bottom: 2px solid $secondary;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        display: flex;
        align-items: center;
        padding-left: 50px;
        height: 50px;
        background-image: url("../images/list-icon.png");
        background-repeat: no-repeat;
        background-size: 45px 45px;
        background-position: top 5px left 5px;
      }
    }
  }

  .entry-img {
    max-width: 100%;

    background-color: #fff;
    box-shadow: 0 0 1rem black;
    padding: 1rem;
    margin: auto;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

// tablet
@media screen and (max-width: $tablet-width) {
  .lines-bg {
    height: 90%;
    overflow: hidden;
  }

  .main-image-box {
    height: 100%;
    width: 100%;
  }

  .home-intro {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }
    p {
      font-size: 1rem;
      width: 90%;
      margin: auto;
    }
  }

  .ricoh-hero {
    position: relative;
    z-index: 1;
    margin: 2rem -1rem;
    padding: 1rem 2rem;
  }

  .entries-header {
    margin: 0 -1rem;
    padding: 0 1rem;
    background-image: linear-gradient(to top, #d4d4d4, #fff0);
    border-bottom: 2px solid $primary;
    border-top: 0px solid $primary;

    h1 {
      font-size: 2rem;
    }
  }

  .home-entry-wrapper {
    position: relative;
    z-index: 1;
    margin: 0 -1rem;
  }

  .home-entry {
    padding: 1rem;
    margin: 1rem 0;

    .row {
      margin: 0;
    }

    .entry-text {
      font-size: 1rem;
      padding-left: 0;
      padding-right: 1rem;
    }

    .entry-img {
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: $phone-width) and (max-width: $tablet-width) {
  .home-intro {
    margin-top: calc(0.4 * 100vw);
  }

  .ricoh-hero {
    background-color: #ddd9;
  }
}

// phone
@media screen and (max-width: $phone-width) {
  .office-bg {
    display: none;
  }

  .lines-bg {
    .gatsby-image-wrapper {
      height: 100%;
      width: unset;
    }

    img {
      height: 100%;
      object-position: 0 center !important;
    }
  }

  .ricoh-hero {
    margin: 0;
    padding: 6rem 0;
  }

  .entries-header {
    margin: 0 -1rem;
    padding: 0 1rem;
    background-image: unset;
    border-bottom: 5px solid $primary;
    border-top: 0px solid white;

    h1 {
      color: #000;
    }
  }

  .home-entry {
    .entry-img {
      padding: 0;
    }
  }
}
