@import "variables";
@import "~@fontsource/source-sans-pro/index.css";

.lines-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.35;
}

.office-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.home-intro {
  position: relative;
  font-family: "Source Sans Pro";
  z-index: 1;

  h1 {
    color: $primary;
    font-size: 6rem;
    font-weight: 900;
  }

  p {
    width: 25rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 800px) {
  .office-bg {
    display: none;
  }

  .lines-bg {
    height: 60%;
    overflow: hidden;
  }

  .home-intro {
    text-align: center;
    h1 {
      font-size: 3rem;
      font-weight: 900;
    }
    p {
      width: 90%;
      margin: auto;
    }
  }
}
