@import "variables";

.promo-entry {
  width: 80%;
  margin: 7rem 0;

  .promo-entry-image {
    padding: 1rem;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1rem;

    img {
      max-width: 100%;
    }
  }
}

// phone
@media screen and (max-width: $phone-width) {
  .promo-entry {
    width: 100%;
  }

  .promo-entry-image {
    padding: 0.5rem !important;
  }
}
