@import "~@fontsource/source-sans-pro/index.css";

$primary: #e21936;
$secondary: #434343;
$font-family-base: "Source Sans Pro";
$spacer: 2rem;

$tablet-width: 768px;
$phone-width: 600px;

$intro-overlap-width: 700px;
